<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <%- include('partials/navbar-side.ejs') %>
    
    <main class="dashboard-content">
        <h1 class="_color-gray _font-size-40">Configurações de conta</h1>

        <div class="data-user-wrapper">
            <div class="header-data-user">
                 <h1 class="_font-size-20 _color-gray">Minhas informações</h1>
    
                <div class="btn-edit-wrapper">
                    <button onclick="editData()">Editar informações</button>
                </div>
            </div>

            <hr>

            <fieldset class="information-wrapper">
                <legend>informações pessoais</legend>

                <div class="input-data-container">
                    <label for="first-name">Primeiro nome</label>
                    <input id="first-name" type="text" value="<%= user.firstName %>">
                </div>

                <div class="input-data-container">
                    <label for="last-name">Último nome</label>
                    <input id="last-name" type="text" value="<%= user.lastName %>">
                </div>
            </fieldset>

            <fieldset class="information-wrapper">
                <legend>Endereço</legend>

                <div class="input-data-container">
                    <label for="district">Bairro</label>
                    <input id="district" type="text" value="<%= user.zone %>">
                </div>

                <div class="input-data-container">
                    <label for="city">Cidade</label>
                    <input id="city" type="text" value="<%= user.city %>">
                </div>

                <div class="input-data-container">
                    <label for="uf">UF</label>
                    <input id="uf" type="text" value="<%= user.uf %>">
                </div>
            </fieldset>

            <fieldset class="information-wrapper">
                <legend>Contato</legend>

                <div class="input-data-container">
                    <label for="mail">Email</label>
                    <input id="mail" type="text" value="<%= user.mail %>">
                </div>

                <div class="input-data-container">
                    <label for="phone">Telefone</label>
                    <input id="phone" type="text" value="<%= user.phone %>">
                </div>
            </fieldset>


            
        </div>

        <div class="data-user-wrapper">
            <div class="header-data-user">
                 <h1 class="_font-size-20 _color-gray">Informações da conta</h1>
    
                <div class="btn-edit-wrapper">
                    <button>Editar informações</button>
                </div>
            </div>

            <fieldset class="information-wrapper">
                <legend>Resumo das análises</legend>

                <div class="input-data-container">
                    <label for="analysis">Total de análises concluídas</label>
                    <input id="analysis" type="text" value="0">
                </div>

                <div class="input-data-container">
                    <label for="reports">Relatórios gerados</label>
                    <input id="reports" type="text" value="0">
                </div>
            </fieldset>

            <hr>

            <button id="delete-account">Excluir conta</button>
        </div>
    </main>
</div>

<%- include('partials/footer.ejs') %>