<%- include('partials/header.ejs')  %>

<div class="dashboard-wrapper">
    <%- include('partials/navbar-side.ejs') %>
    
    <main class="dashboard-content">
        <h1 class="_color-gray _font-size-40">Configurações de conta</h1>

        <div class="data-user-wrapper">
            <div class="header-data-user">
                 <h1 class="_font-size-20 _color-gray">Minhas informações</h1>
    
                <div class="btn-edit-wrapper">
                    <button onclick="EnableUpdateData('confirm-edit1'); DisableThisElement(this)">Editar informações</button>
                </div>
            </div>

            <hr>
            
            <form action="/config-account/update/" method="post">
                <fieldset class="information-wrapper">
                    <legend>informações pessoais</legend>

                    <div class="input-data-container">
                        <label for="first-name">Primeiro nome</label>
                        <input class="personal-info" name="firstName" type="text" value="<%= user.firstName %>" required>
                    </div>

                    <div class="input-data-container">
                        <label for="last-name">Último nome</label>
                        <input class="personal-info" name="lastName" type="text" value="<%= user.lastName %>" required>
                    </div>
                </fieldset>

                <fieldset class="information-wrapper">
                    <legend>Endereço</legend>

                    <div class="input-data-container">
                        <label for="zone">Bairro</label>
                        <input class="personal-info" name="zone" type="text" value="<%= user.zone %>" required>
                    </div>

                    <div class="input-data-container">
                        <label for="city">Cidade</label>
                        <input class="personal-info" name="city" type="text" value="<%= user.city %>" required>
                    </div>

                    <div class="input-data-container">
                        <label for="uf">UF</label>
                        <input class="personal-info" name="uf" type="text" value="<%= user.uf %>" required>
                    </div>
                </fieldset>

                <fieldset class="information-wrapper">
                    <legend>Contato</legend>

                    <div class="input-data-container">
                        <label for="mail">Email</label>
                        <input class="personal-info" name="mail" type="text" value="<%= user.mail %>" required>
                    </div>

                    <div class="input-data-container">
                        <label for="phone">Telefone</label>
                        <input class="personal-info" name="phone" type="text" value="<%= user.phone %>" required>
                    </div>
                </fieldset>

                <fieldset class="information-wrapper">
                    <legend>Segurança</legend>

                    <div class="input-data-container">
                        <label for="password">Senha</label>
                        <input class="personal-info" name="password" type="password" placeholder="*****">
                    </div>
                </fieldset>

                <button 
                    type="submit" 
                    class="confirm-edit" 
                    id="confirm-edit1"
                    onclick="return confirm('Confirma as alterações realizadas?')"
                >
                    Salvar alterações
                </button>
            </form>
        </div>

        <div class="data-user-wrapper">
            <div class="header-data-user">
                 <h1 class="_font-size-20 _color-gray">Informações da conta</h1>
            </div>

            <fieldset class="information-wrapper">
                <legend>Resumo das análises</legend>

                <div class="input-data-container">
                    <label for="analysis">Total de análises concluídas</label>
                    <input class="account-info" name="analysis" type="text" value="0" required>
                </div>

                <div class="input-data-container">
                    <label for="reports">Relatórios gerados</label>
                    <input class="account-info" name="reports" type="text" value="0" required>
                </div>
            </fieldset>
            <hr>
            
            <form action="/config-account/delete" method="post">
                <button id="delete-account" onclick="()=>{window.alert('Realmente deseja excluir sua conta?')}">Excluir conta</button>
            </form>
        </div>
    </main>
</div>

<%- include('partials/footer.ejs') %>